/Debug_14012020_bugfix2
/SpecialJobsNew/.vs/SpecialJobs/v15/Server/sqlite3
/SpecialJobsNew/bin
/SpecialJobsNew/Reports - устаревшие работающие
/SpecialJobsNew/obj/x86
/SpecialJobsNew/Converters
/SpecialJobsNew/Reports - до 14_01_2019
/test_record_withoutrealsignal
/Документы
