<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SpecialJobs.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="MethodsEntities" connectionString="metadata=res://*/ModelEF.csdl|res://*/ModelEF.ssdl|res://*/ModelEF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PAPA;initial catalog=MethodsNew;&#xD;&#xA; persist security info=True;user id=sa;password=555;multipleactiveresultsets=True;application name=EntityFramework&quot;"
                                                                                                                          providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <userSettings>
    <SpecialJobs.Properties.Settings>
      <setting name="isVP" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="withUSB" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="orgId" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="atId" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="anlId" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="armId" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="modeId" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Invoice" serializeAs="String">
        <value />
      </setting>
      <setting name="pathData" serializeAs="String">
        <value>formattingRule1</value>
      </setting>
      <setting name="pathTemplateWord" serializeAs="String">
        <value />
      </setting>
      <setting name="pathReportWord" serializeAs="String">
        <value />
      </setting>
      <setting name="pathTemplateUtilite" serializeAs="String">
        <value />
      </setting>
    </SpecialJobs.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
